body{
  background-color: #396;

}
.loading{
  margin: 300px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.loading > div{
  background-color: #FFF;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sa-stretchdelay 1.4s infinite ease-in-out;
  animation: sa-stretchdelay 1.4s infinite ease-in-out;
}
.loading .rectangle_2{
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loading .rectangle_3{
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.loading .rectangle_4{
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loading .rectangle_5{
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@@keyframes sa-stretchdelay {
  0%,40%,100%{
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20%{
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
@-webkit-keyframes sa-stretchdelay{
  0%,40%,100%{ -webkit-transform: scaleY(0.4); }
  20%{ -webkit-transform: scaleY(1.0); }
}
